:root {
    --framboise : #EA2B38;
    --pink : #F8D8D8;
}

body {
    font-weight: 400;
}

footer {
    background-color: white;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-weight: 500;
}

h2, h3, h4 {
    font-weight: 400;
}

p {
    font-family: futura-pt, sans-serif, 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* NAVBAR */
.alice-brand {
    text-transform: uppercase;
    font-size: 85px;
}

ul li a {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 25px;
}

.transparent-input {
    border: 0;
    box-shadow: none;
}

.form-control:focus{
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.border-black {
    border-bottom: 1px solid black;
    margin-left: 50px;
}

/* HOME */
.sticky-col {
    display: block;
    position:sticky;
    top:20px;
}
.avatar {
    border-radius: 50%;
    width: 190px;
    height: 190px;
}
.insta-bio {
    font-weight: 400;
    font-size: 20px;
}
.profile {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
}
.btn-neutral{
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
.title-rectangle {
    border-top: 4px solid rgb(0, 0, 0);
    line-height: 64px;
    border-top-width: 10px;
    text-transform: uppercase;
}
.line-black{
    border-top: 1px solid rgb(0, 0, 0);
}
.title-tag {
    color: var(--framboise);
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
}
.group-title-rectangle {
    padding-left: 50px;
}
.bg-whitesmoke {
    background-color: whitesmoke;
}
#scroll-section {
    height:100%;
    width:100%;
    overflow-y: hidden;
    overflow-x: auto;
    display:inline-block;
    white-space:nowrap;
}
.card-scrolled {
    display:inline-block;
}

/* FOOTER */
.alice-footer {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 45px;
}

.color-framboise {
    color: var(--framboise);
}

.size-text-footer {
    font-size: 17px;
}

/* ALL MAGAZINES */
.filters-btn {
    background-color: transparent;
    color: var(--framboise);
    border: 1px solid var(--framboise);
    border-radius: 16px 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.filters-btn p{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.all-posts {
    border: 1px solid black;
}

/* CONTACT */
.bg-color-contact {
    background-color: white;
}
.framboise-btn {
    background-color: var(--framboise);
    border: 1px solid var(--framboise);
    color: white;
}
.framboise-btn:hover {
    background-color: transparent;
    border: 1px solid var(--framboise);
    color: var(--framboise);
}

/* show magazine */
.lang-design {
    text-transform: uppercase;
    text-align: right;
}

.press-title {
    font-weight: 400;
    font-size: 25px;
}

/* ARTICLES */
.right-text {
    text-align: right;
}

.post-pres{
    background-color: white;
    margin-top: -7rem;
    padding: 0rem 2rem;
    padding-right: 0rem;
}

.bg-white{
    background-color: white;
    position: relative;
    padding: 15px;
}

.footer-section-article {
    border-top: 1px solid var(--framboise);
    border-top-width: 2px;
}

.small-text {
    font-family: futura-pt, sans-serif, 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/* SHOW ARTICLE */ 
.post-show {
    background-color: white;
    margin-left: -13rem;
    padding: 0rem 2rem;
    padding-right: 0rem;
}

/* SHOW POST */

.rs-btn-post {
    background-color: transparent;
    color: black;
    border: 1px solid rgb(201, 200, 200);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    font-family: futura-pt, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem transparent;
}

.position-rs-post {
    margin-top: 8px;
}

.title-suggestion-post {
    margin-top: -7rem;
    color: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 5rem;
}

.bg-black {
    background-color: black;
    position: relative;
}