:root {
    --framboise : #EA2B38;
    --pink : #F8D8D8;
}

body {
    font-weight: 400;
}

footer {
    background-color: white;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
}

p {
    font-family: futura-pt, sans-serif, 'Raleway', sans-serif;
    font-weight: 300;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.avatar {
    border-radius: 50%;
}

/* NAVBAR */
.alice-brand {
    text-transform: uppercase;
    font-size: 85px;
}

ul li a {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 25px;
}

/* HOME */
.bio-col {
    display: block;
    position:sticky;
    top:20px;
}


/* FOOTER */
.alice-footer {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 45px;
}

.color-framboise {
    color: var(--framboise);
}