body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

footer {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

a {
    color: rgb(248, 190, 65);
    text-decoration: underline;
}

a:hover {
    color: rgb(220, 160, 55);
}

.avatar {
    border-radius: 50%;
}
