:root {
    --framboise : #EA2B38;
    --pink : #F8D8D8;
}

body {
    font-weight: 400;
}

footer {
    background-color: white;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-weight: 500;
}

h2, h3, h4 {
    font-weight: 400;
}

p {
    font-family: futura-pt, sans-serif, 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* NAVBAR */
.alice-brand {
    text-transform: uppercase;
    font-size: 85px;
}

ul li a {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 25px;
}

/* HOME */
.sticky-col {
    display: block;
    position:sticky;
    top:20px;
}
.avatar {
    border-radius: 50%;
    width: 190px;
    height: 190px;
}
.insta-bio {
    font-weight: 400;
    font-size: 20px;
}
.profile {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
}
.btn-neutral{
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
.title-rectangle {
    border-top: 4px solid rgb(0, 0, 0);
    line-height: 64px;
    border-top-width: 10px;
}
.line-black{
    border-top: 1px solid rgb(0, 0, 0);
}
.title-tag {
    color: var(--framboise);
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
.group-title-rectangle {
    padding-left: 50px;
}
.bg-whitesmoke {
    background-color: whitesmoke;
}
#scroll-section {
    height:100%;
    width:100%;
    overflow-y: hidden;
    overflow-x: auto;
    display:inline-block;
    white-space:nowrap;
}
.card-scrolled {
    display:inline-block;
}

/* FOOTER */
.alice-footer {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 45px;
}

.color-framboise {
    color: var(--framboise);
}

.size-text-footer {
    font-size: 17px;
}

/* ALL MAGAZINES */
.filters-btn {
    background-color: transparent;
    color: var(--framboise);
    border: 1px solid var(--framboise);
    border-radius: 16px 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.filters-btn p{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

/* CONTACT */
.bg-color-contact {
    background-color: white;
}
.framboise-btn {
    background-color: var(--framboise);
    border: 1px solid var(--framboise);
    color: white;
}
.framboise-btn:hover {
    background-color: transparent;
    border: 1px solid var(--framboise);
    color: var(--framboise);
}

/* show magazine */
.lang-design {
    text-transform: uppercase;
    text-align: right;
}