<footer class="container-fluid fixed-bottom mastfoot mt-auto text-center pt-3">
    <div class="row text-left">
        <div class="col-6 text-center">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-left mb-2">
            <h4 class="alice-footer">Alice <span class="color-framboise">P</span>feiffer<span class="color-framboise">.</span><br>
                <i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i>
            </h4>
            <nav class="nav nav-masthead justify-content-center" id="js-social-medias"></nav>
        </div>
        <div class="col-12 text-center">
            <div class="inner">
                <p><a href="{{path('app_mentions')}}">Mentions légales</a><br>
                    2021 &copy; Copyright - <a href="https://github.com/JennyViannay" target="_blank"><i
                        class="fab fa-github"></i> JennyViannay</a> - <a href="https://github.com/JennyViannay"
                    target="_blank"><i class="fab fa-github"></i> Océane Kolau</a></p>
            </div>
        </div>
    </div>
</footer>
<div id="fb-root"></div>