<footer class="container-fluid fixed-bottom mastfoot mt-auto text-center mt-5">
    <div class="row text-left">
        <div class="col-xl-9 col-lg-8 col-md-6 col-sm-5 text-center">
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-7 text-left mb-2">
            <h4 class="alice-footer">Alice <span class="color-framboise">P</span>feiffer<span
                    class="color-framboise">.</span><br>
                <a href="https://www.facebook.com/public/Alice-Pfeiffer" target="_blank"><i
                        class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/alicepfeiffer/?hl=en" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a class="{{app.request.get('_route') == 'app_contact' ? 'active' : ''}}"
                    href="{{path('app_contact')}}"><i class="far fa-envelope"></i></a>
            </h4>
        </div>
        <div class="col-12 text-center">
            <div class="inner">
                <small><a href="{{path('app_mentions')}}">Mentions légales</a><br>
                    2021 &copy; Copyright - <a href="https://github.com/JennyViannay" target="_blank"> JennyViannay</a> - <a href="https://oceane-kolau.tech"
                        target="_blank"> Océane Kolau</a></small>
            </div>
        </div>
    </div>
</footer>
<div id="fb-root"></div>